table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 150%;
    height: 50px;
}
td,th{
    /* border: 2px solid black; */
    text-align: center;
    padding: 8px;
    background-color:aqua;
     color:black ;
}

.btn-red{
    background-color: red !important;

}


